<meta charset = "UTF-8">

<p style="text-align: center;"><strong>CONSULTORIO DE VETERINARIA</strong></p>
<p style="text-align: center;"><em><img src="{{ url_for('static', filename='\img\medicina.png') }}" alt="" width="43" height="54" /></em></p>
<p style="text-align: center;"><em>Dr. Hiram Flores</em></p>
<p style="text-align: center;">Receta M&eacute;dica</p>
<hr />
<p style="text-align: justify;">Nombre de la mascota: {{nombre_mascota}}</p>
<p style="text-align: justify;">Medicamento Recetado: {{medicamento_recetado}}</p>
<p style="text-align: justify;">Cantidad: {{cantidad_asignada}}</p>
<p style="text-align: justify;">Cada cuanto: {{frecuencia}}</p>
<p style="text-align: justify;">&nbsp;</p>
<hr />
<p style="text-align: justify;"><em>&iexcl;Gracias por su preferencia!</em></p>

