{% extends './index.html' %}

{% block title %} Informes {% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/vetlogo.png') }}" alt="" width="40" height="35"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% for llave,valor in usermenu.items() %}  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ valor }}">{{ llave }} </a>
                </li>
            {% endfor %}
        </ul>
          <a class="btn btn-secondary" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
</nav>

<h1>Ventana de Informes</h1>

{% endblock %}