{% extends './index.html' %}
{% block title %} Change Password {% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/passwordrecovery.css') }}">
{% endblock %}

{% block body %}
<form class="form-recovery" action="/passwordrecovery" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/vetlogo.png') }}" alt="" width="100" height="90">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissable" role="alert">
        <strong>
            {{ message }}
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="newpassword" placeholder="New Password">
      <label for="floatingPassword">New Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="confirmpassword" placeholder="Confirm Password">
        <label for="floatingPassword">Confirm New Password</label>
      </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
    Regresar a <a href="{{ url_for('login') }}">Login</a> <br>
  </form>
{% endblock %}